<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="whole">
        <div class="navbar">
            <nav class="navigation">
                <ul class="navlist">
                    <li class="navitem">
                        <a href="#" class="navlink">Home</a>
                    </li>
                    <li class="navitem">
                        <a href="#" class="navlink">About us</a>
                    </li>
                    <li class="navitem">
                        <a href="#" class="navlink">Contact me</a>
                    </li>
                    <li class="navitem">
                        <a href="#" class="navlink">service</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>